@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600&family=Sail&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
main{
    margin: auto;
    max-width: 1800px;
}
#Home{
    position: relative;
}
header{
    display: flex;
    width: 100%;
    height: 8vh;
    background-color: #000000;
}
body{
    background: #090000;
}
body::-webkit-scrollbar {
    width: 0.05em;
    position: absolute;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-thumb {
    background-color: rgba(228, 196, 148, 1);
    outline: 1px solid rgba(212, 127, 0, 1);
    
}
#BgHome{
    overflow: hidden;
    width: 100%;
    height: 92vh;
    background-size: cover;
    background-position: center;
    background-image: url('../img/background_home.png');
}
#Home svg{
    position: absolute;
    bottom: 1%;
    right: 46.5%;
    transition: 0.5s;
    transform: scale(0.8);

}
#Home svg:hover{
    cursor: pointer;
    transform: scale(1);
    transition: 0.5s;

}
header div{
    display: flex;
    width: 10vw;
    text-align: center;
    justify-content: center;
}
header div img{
    width: 100%;
    align-self: center;
}
header nav{
    width: 90vw;
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: space-around;
}
header nav li{
    display: flex;
    font-family: 'Sail';
    font-style: normal;
    font-weight: 1em;
    font-size: 350%;
    line-height: 1em;
    text-align: center;
}
header nav li a{
    text-decoration: none;
    align-self: center;
    color: #E4C494;
    transition: 0.5s;
}
header nav li a:hover{
    transition: 0.5s;
    color: #D47F00;
    text-shadow: 0px 0px 0.1em rgba(212, 127, 0, 1);
}
#Sobre{
    height: 100vh
}
#Sobre div.sobre{
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: scroll;
}
#Sobre div.sobre::-webkit-scrollbar {
    width: 0.5em;
    position: absolute;
}
#Sobre div.sobre::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

#Sobre div.sobre::-webkit-scrollbar-thumb {
    background-color: rgba(228, 196, 148, 1);
    outline: 1px solid rgba(212, 127, 0, 1);
    
}
#Sobre div.sobre div{
    display: flex;
    align-items: center;
    justify-content: center;
}
#Sobre div.sobre img{
    width: 70vw;
    height: auto;
    max-width: 1150px;
    margin: 6vh;
}
#Album h3{
    font-family: 'Abhaya Libre';
    font-style: normal;
    font-weight: 400;
    font-size: 4em;
    line-height: 123px;
    text-align: center;
    color: #FFFFFF;
}
#Album div#album{
    display: grid;
    justify-content: center;
    grid-template-columns: 360px 360px 360px;
    grid-gap: 2px;
}
#Album div#album img{
    filter: grayscale(100%);
    width: 360px
}
#Album div#album img:hover{
    filter: grayscale(0%);

}
#Contato{
    height: 100vh;
    margin: 50px 0 0 0
}
#Contato p.contato{
    font-family: 'Sail';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5em;
    line-height: 46px;
    text-align: center;
    color: #FFFFFF;
}
#Contato h4{
    font-family: 'Abhaya Libre';
    font-style: normal;
    font-weight: 400;
    font-size: 2.5em;
    line-height: 57px;
    text-align: center;
    color: #DB9731;
}
#Contato h5{
    font-family: 'Abhaya Libre';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5em;
    line-height: 38px;
    text-align: center;
    color: #DB9731;
}
#Contato p.texto{
    font-family: 'Abhaya Libre';
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}
#Contato p.texto a{
    color: #DB9731;
}
#Contato form{
    display: grid;
    margin: auto;
    width: 70%;
    grid-template-areas:
		"nome nome"
		"email assunto"
		"Mensagem Mensagem"
		;
    grid-gap: 1vh;
    
}
#Contato form input{
    background-color: rgba(255,255,255,0);
    border: 1.35491px solid #DB9731;
    font-family: 'Abhaya Libre';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4em;
    color: rgb(255, 255, 255);
}
#Contato form input:placeholder{
    color: rgba(255, 255, 255, 0.7);
}
#Contato form input#nome{
    grid-area: nome;
    height: 5vh;
}
#Contato form input#email{
    grid-area: email;
    height: 5vh;
}
#Contato form input#assunto{
    grid-area: assunto;
    height: 5vh;
}
#Contato form #Mensagem{
    grid-area: Mensagem;
    height: 40vh;
    background-color: rgba(255,255,255,0);
    border: 1.35491px solid #DB9731;
    font-family: 'Abhaya Libre';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4em;
    color: rgb(255, 255, 255);
}
iframe{
    height: 30vw;
}
footer{
    display: flex;
    justify-items: space-around;
    justify-content: space-around;
    height: 40vh;
    width: 100%;
    background-color: #160D00;
}
footer div.footer{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    height: 40vh;
}
footer div.footer div.img{
    height: 80%;
    display: flex;
    justify-content: center;
}
footer div.footer div.img img{
    height: 100%;
}
footer  div.rede{
    display: flex;
    width: 95%;
    height: 4vh;
    justify-content: space-around;
}
footer div.contato p{
    margin-top: 10vh;
    font-family: 'Abhaya Libre';
    font-style: normal;
    font-weight: 400;
    font-size: 1.3em;
    line-height: 1.3em;
    text-align: center;
    color: #FFF3F3;
}
div.mobile_home{
    height: 0vh;
}
@media screen and (max-width: 1800px){
    #Album div#album{
        display: grid;
        justify-content: center;
        grid-template-columns: 20vw 20vw 20vw;
        grid-gap: 2px;
    }
    #Album div#album img{
        filter: grayscale(100%);
        width: 20vw
    }
}
.mobile{
    display: hidden;
    visibility: hidden;
}
@media screen and (max-width: 840px){
    html{
        width: 100vw;
    }
    .desktop{
        display: flex;
    }
    .mobile{
        display: inherit;
        visibility: visible;
    }
    main{
        margin: 0;
    }
    div.absolute{
        position: absolute;
        transform: translateY(-31vh);
        transition: 0.1s;
    }

    div.menu{
        position: absolute;
        height: 5vh;
        width: 7vh;
        bottom: 2.5vh;
        right: 3vh;
    }
    div.menu:hover{
        cursor: pointer;
    }
    div.menu img{
        height: 100%
    }
    div.home{
        position: relative;
        height: 100vh;
        width: 100vw;
        z-index: -1;
    }
    header{
        position: relative;
        width: 100vw;
        height: 40vh;
        background-color: #1F1313;
    }
    header.active{
        z-index: 1;
        transition: 0.5s;
        transform: translateY(31vh);
    }
    header div{
        position: absolute;
        height: 10vh;
        width: 30%;
        bottom: 0;
    }
    header nav{
        display: flex;
        flex-direction: column;
        margin: 1vw 1vw 0 1vw;
        height: 30vh;
    }
    header nav li{
        display: flex;
        justify-content: center;
        height: 7vh;
        width: 98vw;
        border: 2px solid rgba(212, 127, 0, 0.5);
    }
    #BgHome{
        background-image: url('../img/background_home_mobile.png');
    }
    div.mobile_home{
        position: absolute;
        width: 50%;
        height: 43%;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -25%);
        display: flex;
        flex-direction: column;
    }
    div.mobile_home p{
        font-family: 'Sail';
        font-style: normal;
        font-weight: 400;
        font-size: 1.3em;
        line-height: 1.3em;
        text-align: center;
        color: #FFFFFF;
        margin: auto;
    }
    div.mobile_home p mark{
        background: none;
        color:#D47F00;
    }
    div.mobile_home img{
        width: 100%;
        height: auto;
        transform: translatex(3%);
    }
    div.mobile_home div.lema{
        background: #100000;
        border-radius: 60px;
        width: 150%;
        height: 25%;
        transform: translatex(-15%);
    }
    #Sobre div.sobre{
        height: 0vh;
    }
    #Sobre div.sobre_mobile{
        display: flex;
        flex-direction: column;
        height: 100vh;
        overflow-y: scroll;
    }
    #Sobre div.sobre_mobile div{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #Sobre div.sobre_mobile img{
        width: 70vw;
        height: auto;
        max-width: 1150px;
        margin: 6vh;
    }
    #Album h3{
        font-size: 2em;
    }
    #Album div#album{
        display: grid;
        justify-content: center;
        grid-template-columns: 40vw 40vw;
        grid-auto-rows: 40vw;
        row-gap: 2px;
        column-gap: 2px;
    }
    #Album div#album img{
        filter: grayscale(100%);
        width: 40vw
    }
    #Contato form{
        display: grid;
        margin: auto;
        width: 80%;
        grid-template-areas:
            "nome nome"
            "email email"
            "assunto assunto"
            "Mensagem Mensagem"
            ;
        grid-gap: 1vh;
    }
    #Contato form input{
        font-size: 1em;
    }
    #Contato form #Mensagem{
        font-size: 1em;
    }
    #Home svg{
        visibility: hidden;
    }
    footer div.contato p{
        font-size: 1.16em;
        margin: 4vh 0 2vh 0;

    }
} 