*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
#Home{
    position: relative;
}
header{
    display: flex;
    width: 100%;
    height: 8vh;
    background-color: #000000;
}
body{
    background: #090000;
}
body::-webkit-scrollbar {
    width: 0.05em;
    position: absolute;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(228, 196, 148, 1);
    outline: 1px solid rgba(212, 127, 0, 1);
    
}
#BgHome{
    overflow: hidden;
    width: 100%;
    height: 92vh;
    background-size: cover;
    background-position: center;
    background-image: url(/assets/img/background_home.png);
}
#Home svg{
    position: absolute;
    bottom: 1%;
    right: 46.5%;
    transition: 0.5s;
    transform: scale(0.8);

}
#Home svg:hover{
    cursor: pointer;
    transform: scale(1);
    transition: 0.5s;

}
header div{
    display: flex;
    width: 10vw;
    text-align: center;
    justify-content: center;
}
header div img{
    width: 100%;
    align-self: center;
}
header nav{
    width: 90vw;
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: space-around;
}
header nav li{
    display: flex;
    font-family: 'Sail';
    font-style: normal;
    font-weight: 400;
    font-size: 53.7605px;
    line-height: 62px;
    text-align: center;
}
header nav li a{
    text-decoration: none;
    align-self: center;
    color: #E4C494;
    transition: 0.5s;
}
header nav li a:hover{
    transition: 0.5s;
    color: #D47F00;
    text-shadow: 0px 0px 0.1em rgba(212, 127, 0, 1);
}